  <% post.comments.each do |comment| %>
    <div class="comment_comment">
      <%= comment.text %><br>
    </div>
  <% end %>



<div class="comment_submit_box">
  <%= form_for @comment,id: "comment_form",remote: true do |f| %>

    <div class="form-group">
      <%= f.text_field :text, placeholder: "こめんといれてね", cols:"30", rows:"10", autofocus:"true", class:"form-control" %>
    </div>
    <%= f.hidden_field :post_id, value: post.id %>

    <%= f.submit "コメントする", class:"comment_btn"%>

  <% end %>
