<div class="contents clearfix">

  <div class="left_content">
      <%= render @posts %>
      <div class="paginate">
        <%= paginate(@posts) %>
      </div>
  </div>

  <div class="right_content">
    <div class="ranking">Ranking</div>
     <% @ranking.each.with_index(1) do |post, i| %>
       <!-- <a href="/posts/<%= post %>"> -->
         <div class="ranking_number_box">
           <%= i  %>
         </div>
           <%= image_tag post.image_url, :class=>"right_image",  :width => '70%',:height => "auto"%>
     <% end %>
  </div>
</div>
