<div class="contents row">
  <%= form_tag('/posts', method: :post) do %>
    <h1>
      投稿する
    </h1>

    <%= form_for(@post) do |f| %>
      <div>
        タイトルを入力<br>
        <%= f.text_field :title %><br>
        <%= f.file_field :image %><br>
        <!-- <%= f.text_area :content %> -->
      </div>
      <div>
      <%= form_for(@place) do |ff| %>
      <%= ff.text_field :name %><br>
      <%= ff.text_field :description %><br>
      <%= ff.text_field :latitude %><br>
      <%= ff.text_field :longitude %><br>
      </div>

      <input type="submit" value="SEND">
    <% end %>
  <% end %>
  <% end %>
</div>
