<div class="contents row">
  <%= form_tag('/posts', method: :post) do %>
    <h1>
      投稿する
    </h1>

    <%= form_for(@post) do |f| %>
      <div>
        タイトルを入力<br>
        <%= f.text_field :title %><br>
        <%= f.file_field :image %><br>
        <%= f.text_field :name %><br>
        <%= f.text_field :description %><br>
        <%= f.text_field :latitude %><br>
        <%= f.text_field :longitude %><br>
        <!-- <%= f.text_area :content %> -->
      </div>

        <%= f.submit '投稿する' %>
      <!-- <input type="submit" value="SEND"> -->
    <% end %>
  <% end %>
</div>
