<!DOCTYPE html>
<html>
  <head>
    <title>WearLocation</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  <!--RailsでGoogleMapを表示させたい！  -->

<!-- tag-itで活用するjQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

<!--モーダルポップアップの  -->

  <%= include_gon %>
  </head>

<body>
  <header>
    <h1 class="title"><%= link_to 'WearLocation',root_path, method: :get %></h1>
      <% if user_signed_in? %>
        <div class="header_contents">
          <ul class="header_link">
            <li class="image_link">
              <%= link_to image_tag('logout-icon.png',:size => '55x55'), destroy_user_session_path, method: :delete =%>
            </li>
            <li class="image_link">
              <a class="post" href="/posts/new"><%= image_tag 'post-icon.png',:size => '55x55' %></a>
            </li>
          </ul>
        </div>
      <% else %>
        <div class="header_contents">
          <ul class="header_link">
            <li class="image_link">
              <a class="sign_in" href="/users/sign_in"><%= image_tag 'mypage-icon.png',:size => '55x55' %></a>
            </li>
            <li>
               <!-- <%= link_to "ログイン", new_user_session_path, class: 'posts' %> -->
              <a class="new_user" href="/users/sign_up"><%= image_tag 'new_user.png',:size => '55x55' %></a>
            </li>
          </ul>
        </div>
      <% end %>
  </header>

   <%= yield %>

  <footer>
    <p class="footer_p">Copyright(C) wearlocation ALL RIGHTS RESERVED.<p>
  </footer>

</body>


</html>
